*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, 'Inter', 'Courier New', Courier, monospace;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: #F0EAEF;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0;
    background-color: #F0EAEF;
    margin-bottom: 50px;
}

.title{
    font-size: 64px;
    color: #4E484F;
}

.game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.main{
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    min-width: 600px;
    min-height: 600px;
    margin-bottom: 50px;
}

.aside{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.modebtn {
    position: relative;
    display: inline-block;
    width: 150px;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #4E484F;
    box-shadow: 0 0 0 2px #776E78;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
  
.modebtn span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}
  
.modebtn span:first-child {
    position: relative;
    z-index: 1;
}
  
.modebtn:hover, .activebtn {
    box-shadow: 0 0 0 5px #776E78;
}
  
.modebtn:active {
    scale: 0.95;
}
  
.modebtn:hover span:last-child {
    width: 200px;
    height: 150px;
    opacity: 1;
}

.activebtn{
    color: #F0EAEF;
}

.activebtn span:last-child{
    width: 200px;
    height: 150px;
    background-color: #4E484F;
    opacity: 1;
}

.maincolorblock{
    display: flex;
    flex-direction: row;
}

#sizeofgrid{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #D5DBE1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#sizeofgrid::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#sizeofgrid::-moz-range-thumb{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
}

.sliderinput{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #C6CACE;
    width: 200px;
    box-shadow: 0px 1px 2px 0px #1F1E241F;
}

.gridsizeoutput{
    font-weight: 600;
}

#color{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    padding: 0;
}

#color::-webkit-color-swatch-wrapper{
    padding: 0;
    border: none;
}
#color::-webkit-color-swatch{
    padding: 0;
    border: none;
    border-radius: 50%;
}

#color::-moz-color-swatch{
    border: none;
    border-radius: 50%;
    padding: 0;
}

@media (max-width:1000px){
    .game{
        flex-direction: column-reverse;
    }
}
