*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

*, *::before, *::after{
    box-sizing: inherit;
}

:root{
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

body{
    background-color: #212121;
}

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px 0;
    background-color: #2f3640;
}

.title{
    font-size: 64px;
    color: white;
}

.game{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.main{
    background-color: white;
    padding: 20px;
}

.aside{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modebtn {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: #ffffff40;
    box-shadow: 0 0 0 2px #ffffff20;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .modebtn span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #2196F3;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .modebtn span:first-child {
    position: relative;
    z-index: 1;
  }
  
  .modebtn:hover {
    box-shadow: 0 0 0 5px #2195f360;
    color: #ffffff;
  }
  
  .modebtn:active {
    scale: 0.95;
  }
  
  .modebtn:hover span:last-child {
    width: 150px;
    height: 150px;
    opacity: 1;
  }
  
  
  